
/* Reconfigurando algumas classes de CSS do Materialize para se adaptar melhor ao site */

html, body {
  height: 100%;
  margin: 0;
}

h11 {
  color: red;
}

/* NAVBAR */

nav .brand-logo {
    font-size: 1.6rem;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
  font-size: 2.4rem;
}

#nome-nav {
    font-size: large;
}

#nav-color {
  color: black;
}

#nav-image {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  object-fit: cover;
}

#nav-mobile-icon{
  display: none;
}

#nav-name{
  font-size: 18px;
}

#nav-title-icon{
    font-size: 35px;
}

.sidenav .collapsible {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown-content {
    min-width: 150px;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #000;
}


/* Conteudo da pagina */

/* Mensagens de sucesso, error ou alerta */
.flash-message-success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d4edda;
  color: #155724;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  animation: flash 1.5s ease-in-out;
  margin-top: 20px;
}

.flash-message-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  animation: flash 1.5s ease-in-out;
  margin-top: 20px;
}

.flash-message-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8d7da;
  color: #721c24;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  padding: 10px;
  animation: flash 1.5s ease-in-out;
  margin-top: 20px;
}

.flash-message-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff3cd;
  color: #856404;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  padding: 10px;
  animation: flash 1.5s ease-in-out;
  margin-top: 20px;
}

.flash-message-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.flash-message-icon {
  margin-right: 10px;
}

.flash-message-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

#alert-img {
  color: red;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Janelas Modais */
#modal-alerta {
  text-align: center;
  color: #0c3350;
}

.warning-modal {
  color: red;
}

#modal-icon-alert {
  font-size: 50px;
}

/* Index  */
#blueColor {
  color: #0c3350;
}

#main {
  min-height: calc(100% - 50px); 
}

#main-title{
  left: 0px;
  top: 0px;
}

#homeTitle {
  font-family: 'Poppins', sans-serif;
  color: #0c3350;
}

#titleColor {
  color: #0c3350;
}

#title-card {
  color: #054160df;
  font-size: 32px;
}

#selectColor {
  color: #01579b;
}

#mobile-side {
  font-size: 17.5px;
  padding: 15px;
  white-space: normal;
}

#mobile-side1 {
  font-size: 12px;
}

#text-ficha {
  font-weight: bold;
  font-size: 22px;
}

#text-dados-ficha {
  font-size: 24px;
  font-weight: bolder;
  white-space: pre-wrap;
}

#text-profile {
  font-weight: bold;
  font-size: 16px;
}

#text-dados-profile {
  font-size: 16px;
  font-weight: bolder;
  white-space: pre-wrap;
  color: #0c3350;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#text-profile-span {
  margin-left: 10px;
  color: #0c3350;
}

#button-update-photo {
  margin-bottom: 30px;
  margin-top: 20px;
}

#div-donwload-pdf {
 margin: 0;
 margin-top: -10px;
 margin-bottom: 30px;
}

#donwload-pdf {
  text-align: center;
}

/* VIEW USER*/
#view-img {
  width: 200px;
  max-height: 230px;
  margin-left: 20px;
  border: 4px solid #0c3350;
  object-fit: cover;
  padding: 5px;
}

#view-shortcut {
  display: none;
}

#view-tr #text-dados-profile {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* CARD MOBILE */
#title-bv {
  color: #031523d4;
  font-size: 30px;
}

#homeUserTitle {
  font-family: 'Poppins', sans-serif;
  color: #0c3350;
  font-size: 32px;
  font-weight: bolder;
}

#textUserWelcome {
  margin-top: 3px;
}

#underlineTitle {
  font-family: 'Poppins', sans-serif;
  color: #0c3350;
  font-size: 32px;
  text-align: center;
  margin-bottom: -10px;
}

#underlineAfterTitle {
  font-family: 'Poppins', sans-serif;
  color: #0c3350;
  font-size: 32px;
  text-align: center;
  margin-top: -10px;
}

#cardNotepad {
  margin-top: -40px;
  margin-bottom: -20px;
}

#cardTextTitle {
  margin-top: 30px;
}

#cardAssessmentTitle {
  margin-bottom: -25px;
}

#cardFichaTtitle {
  margin-bottom: -30px;
}

/* label focus color */
.input-field input:focus + label {
  color: #0c3350 !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #0c3350 !important;
  box-shadow: 0 1px 0 0 #0c3350 !important
}

/* icon prefix focus color */
.input-field .prefix.active {
  color:  #0c3350;
}

.dropdown-content li > a, .dropdown-content li > span {
  padding: 14px 2px;
}

/* Tabelas */

#td-text {
  font-size: 22px;
  font-weight: bolder;
  flex-wrap: wrap;
}

#bottom-table-action {
  margin: 5px;
}

#bottom-form-action {
  margin-top: 10px;
  
}

#table-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.delete-form {
  margin: 0;
  padding: 0;
}

#mobile-fixed-action {
  transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s;
  background-color: 0s linear 0.2s; 
  text-align: center; 
  width: 100%; 
  bottom: 0px; 
  left: 0px; 
  overflow: hidden; 
  background-color: #0c3350
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.action-buttons a,
.action-buttons button {
  margin-right: 10px; /* Espaço entre os botões */
  margin-bottom: 10px; /* Espaço entre as linhas de botões */
}



/* Cards */
#card-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0c3350;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#card-text {
  font-size: 18px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card-btn {
  text-align: center;
  margin-bottom: 30px;
}

#card-form-edit-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#card-mobile {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  background-color: #0c3350;
}

#card-mobile p {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-right: 50px;
  font-weight: bolder;
  color: rgb(234, 236, 243);
}

#icon-card-mobile {
  margin-right: 12px;
  margin-left: 25px;
  font-size: 37px;
  color: rgb(234, 236, 243);
}

#labelSpacing {
  font-size: 18px;
  margin-block: -8px;
}

#label-select-desktop {
  padding: 0 0 30px;
}

/* Paginas de avaliações */
#assessment-mobile {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 20px;
  background-color: #0c3350;
}

#assessment-mobile p {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  text-align: center;
  margin-right: 50px;
  font-weight: bolder;
  color: rgb(234, 236, 243);
}

#assessment-icon-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

#img-perfil-mobile {
  margin-left: 70px;
  height: 125px;
  width: 125px;
  object-fit: cover;
}

#perfil-mobile-text {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Perfil */
#profile-title-mobile {
  font-size: 22px;
  font-weight: bolder;
}

#profile-subtitle-mobile {
  font-weight: bolder;
}

#profile-text-mobile {
  font-size: 20px;
  padding: 5 0px;
}

#result_profile_imc {
 font-size: 16px;
 font-weight: bolder;
}

#error-not-traning {
  font-size: 16px;
  text-align: center;
  padding-bottom: 450px;
}

#error-not-ficha {
  font-size: 16px;
  text-align: center;
  font-weight: bolder ;
}

/*  Modals  */
#enviarDados {
  margin-left: 120px;
}

/* Footer */
.footer {
  background-color: transparent;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

footer#fixar-rodape {
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}


/* Algumas medidas para desktops pequenos */
@media only screen and (min-width: 993px) {
    nav .brand-logo {
        font-size: 2.6rem;
    }

    nav a.sidenav-trigger {
        display: flex;
      }

    #nav-drop {
        display: flex;
    }

    #cancelBtn {
      margin-right: 120px;
    }

    #sendBtn, #confirmDeleteBtn {
      margin-left: 120px;
    }

}

/* Algumas medidas para mobille */
@media screen and (max-width: 992px) { 
    #button-report {
        display: none;
    }

    #nav-mobile-icon{
        display: flex;
    }

    /* label color */
    .input-field label {
      color: #000;
      font-size: 20px;
    }
    
    #td-text {
      font-size: 18px;
      font-weight: bolder;
    }

    .caret {
      display: none;
    }

    /*  Modals  */
  #enviarDados {
    margin-left: 0px;
  }

    /* Users tabler */
  #action-buttons-desktop {
    display: none;
  }
  
    /* View */
  #view-shortcut {
    display: block;
  }

  #labelSpacing {
    font-size: 17px;
    margin-block: -8px;
  }

  #created_called {
    font-weight: bolder;
    font-size: 17px;
    margin-block: -8px;
  }
}

/* Preloader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #01579b;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }

/* Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
